.btn {
	border: none;
	background: none;
	outline: none;
	padding: 0;
	display: block;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	transition: all .3s ease-in-out;
}

.btn--contacts {
	font-size: 12px;
	color: #fff;
	width: 140px;
	border: 2px solid #fff;
	border-radius: 26px;
	line-height: 26px;
	transition: all .3s ease-in-out;
	&:hover {
		color: #000;
		border-color: #000;
	}
}

.btn--now {
	display: block;
	font-family: 'ProximaNova', sans-serif;
	font-size: 20px;
	font-weight: 800;
	width: 300px;
	line-height: 53px;
	color: #fff;
	text-transform: uppercase;
	background-color: #61D273;
	border-radius: 31px;
	transition: all .3s ease-in-out;
	&:hover {
		color: #000;
		background-color: darken(#61D273, 15%);
	}
}